version: "3.9"

services:
  db:
    container_name: Postgres-Container
    image: postgres:13.4
    restart: always
    env_file: 
      - ./env/postgres-db.env
    volumes: 
      - db-data:/var/lib/postgresql/data
    ports: 
      - 5432:5432
    networks: 
      - private-network

  pg-admin:
    container_name: PG-Admin-Container
    image: dpage/pgadmin4:5.7
    restart: always
    env_file: 
      - ./env/pg-admin.env
    volumes: 
      - pg-admin:/var/lib/pgadmin
    ports:
      - 8080:8080
    depends_on:
      - db
    networks: 
      - private-network

  api-server:
    container_name: API-Server-Container
    restart: always
    build: 
      context: ./api
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
      - PORT=5000
    ports:
      - 5000:5000
    depends_on:
      - db
    networks: 
      - private-network
      - public-network

  client:
    container_name: React-Container
    restart: always
    build: 
      context: ./client
      dockerfile: Dockerfile
    ports:
      - 80:80
    depends_on:
      - api-server
    networks: 
      - public-network

networks: 
  private-network:
    driver: bridge
  public-network:
    driver: bridge

volumes:
  db-data:
    driver: local
  pg-admin:
    driver: local