version: "3.9"

services:
  mongo:
    container_name: mongo
    image: mongo:5.0.3-focal
    restart: always
    ports:
      - 27017:27017
    volumes: 
      - db-data:/data/db
    networks: 
      - db-network

  mongo-express:
    container_name: mongo-express
    image: mongo-express:1.0.0-alpha
    restart: always
    ports:
      - 8081:8081
    depends_on:
      - mongo
    networks: 
      - db-network

  api-server:
    container_name: api-server
    image: safekeeps-api:latest
    restart: always
    build: 
      context: ./api
      dockerfile: Dockerfile.prod
    environment:
      - NODE_ENV=production
      - PORT=5000
    ports:
      - 5000:5000
    healthcheck:
      test: node ./utils/healthcheck.js
      interval: 2m
      timeout: 10s
      retries: 3
    depends_on:
      - mongo
    networks: 
      - db-network

  client:
    container_name: react-app
    image: safekeeps-react-app:latest
    restart: always
    build: 
      context: ./client
      dockerfile: Dockerfile.prod
    ports:
      - 80:80
    depends_on:
      - api-server

networks: 
  db-network:
    driver: bridge

volumes:
  db-data:
    driver: local
  db-admin:
    driver: local