version: "3.9"

services:
  db:
    container_name: postgres-db
    image: postgres:13.4
    restart: always
    volumes: 
      - db-data:/var/lib/postgresql/data
    networks: 
      - internal-network

  pg-admin:
    container_name: pg-admin
    image: dpage/pgadmin4:6.0
    restart: always
    volumes:
      - pg-admin:/var/lib/pgadmin
    ports:
      - 8080:8080
    depends_on:
      - db
    networks: 
      - internal-network

  api-server:
    container_name: api-server
    restart: always
    build: 
      context: ./api
      dockerfile: Dockerfile.prod
    environment:
      - NODE_ENV=production
      - PORT=5000
    ports:
      - 5000:5000
    healthcheck:
      test: node ./config/healthcheck.js
      interval: 2m
      timeout: 10s
      retries: 3
    depends_on:
      - db
    networks: 
      - internal-network

  client:
    container_name: react-app
    restart: always
    build: 
      context: ./client
      dockerfile: Dockerfile.prod
    ports:
      - 80:80
    depends_on:
      - api-server

networks: 
  internal-network:
    driver: bridge

volumes:
  db-data:
    driver: local
  pg-admin:
    driver: local