.kiosk {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "top-left right"
        "center-left right"
        "bottom-left right";
    overflow: hidden;

    &__top-left {
        grid-area: top-left;
        background-color: $light-blue;
        padding: 15px;

        .logo {
            height: 35px;
            width: auto;
        }
    }

    &__center-left {
        grid-area: center-left;
        display: flex;
        align-items: center;
        background-color: $light-blue;
    }

    &__right {
        grid-area: right;
        overflow-y: auto;
    }
    
    &__bottom-left {
        grid-area: bottom-left;
        background-color: $light-blue;
        padding: 15px;
        color: #fff;
    }

    &__clock {
        font-size: 4.5rem;
        padding: 15px;
        color: #fff;
        opacity: .8;
    }

}