.kiosk {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left right";
    overflow: hidden;

    &__left {
        grid-area: left;
        background-color: $light-blue;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    &__logo{
        padding: 15px;

        img{
            height: 38px;
            width: auto;

        }
    }
    
    &__clock {
        padding: 15px;
        color: #fff;
        
        .date {
            font-size: 2rem;
            opacity: .8;
        }
        
        .clock {
            font-size: 4.5rem;
            opacity: 1;
        }
    }

    &__company {
        padding: 15px;
        color: #fff;
    }

    &__right {
        grid-area: right;
        overflow-y: auto;
    }
}