$border-color: #e3e6e8;
$success-color: #2ecc71;
$failure-color: #e74c3c;
$warn-color: #f1c40f;
$light-blue: #3498db;
$dark-blue: #2980b9;
$darker-blue: #2c3e50;
$silver: #bdc3c7;

@import 'animations';

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $darker-blue;
}

.large-clock {
    font-size: 3rem;
    color: $darker-blue;
}

.user-list {

    &__container {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $border-color;
        margin: 10px 0;
        gap: 8px;
    }

    &__avatar {
        position: relative;
        height: 50px;
        width: 50px;
        
        & img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }

        & .status-circle {
            overflow: auto;
            position: absolute;
            bottom: 0;
            right: 0;
            height: 10px;
            width: 10px;
            border: 2px solid #fff;
            border-radius: 50%;
            background-color: $failure-color;
        }

        & .status-circle[data-status=active] {
            background-color: $success-color;
        }

        & .status-circle[data-status=lunch] {
            background-color: $warn-color;
        }
    }

    &__name {
        font-size: 1.3rem;
        flex-grow: 1;
    }
}

.pin-pad {
    width: fit-content;
    margin: auto;
    padding: 10px;

    &__row {
        width: fit-content;
    }

    &__btn {
        display: inline-block;
        margin: 5px;
        font-size: 2rem;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 1px solid $silver;
        transition: 75ms ease-in-out;
        cursor: pointer;
    }

    &__btn:hover {
        background: $dark-blue;
        color: #fff;
    }

    &__btn:active {
        background: $light-blue;
        color: #fff;
    }
}