$border-color: #e3e6e8;
$success-color: #2ecc71;
$failure-color: #e74c3c;
$warn-color: #f1c40f;
$light-blue: #3498db;
$dark-blue: #2980b9;
$darker-blue: #2c3e50;
$silver: #bdc3c7;

@import 'fonts';
@import 'animations';
@import 'reset';
@import 'layout';

.user-list {
    height: 100%;

    &__container {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $border-color;
        padding: 10px;
        gap: 10px;
    }

    &__avatar {
        position: relative;
        height: 50px;
        width: 50px;
        
        & img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }

        & .status-circle {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 12px;
            width: 12px;
            border: 2px solid #fff;
            border-radius: 50%;
            background-color: $failure-color;
        }

        & .status-circle[data-status=active] {
            background-color: $success-color;
        }

        & .status-circle[data-status=lunch] {
            background-color: $warn-color;
        }
    }

    &__name {
        font-size: 1.2rem;
    }
}

.pin-pad {
    width: fit-content;
    margin: auto;
    padding: 30px;

    &__row {
        width: 100%;
    }
    
    &__row p {
        display: block;
        text-align: center;
        line-height: 1;
        font-size: 1.5rem;
    }

    &__preview {
        width: 100%;
        min-height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        .dot {
            display: inline-block;
            height: 1.5rem;
            width: 1.5rem;
            background-color: $success-color;
            border-radius: 50%;
            animation: growFadeIn 80ms linear;
        }
    }

    &__btn {
        display: inline-block;
        background-color: #fff;
        margin: 5px;
        font-size: 2rem;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        border: 1px solid $silver;
        transition: 75ms ease-in-out;
        cursor: pointer;
    }

    &__btn:hover {
        background: $dark-blue;
        color: #fff;
    }

    &__btn:active {
        background: $light-blue;
        color: #fff;
        animation-name: growOutIn;
        animation-duration: 300ms;
        animation-timing-function: linear;
    }
}